$color = #ff005c
$Width = 1280px
#app
  height: 100%

//列表搜索区
#app >>> .filterComponents
  width $Width
  padding 30px 0 10px

  > div
    margin 0 1% 0

  .el-icon-search
    font-size 30px
    cursor pointer
    vertical-align sub
    color $color

  .input, .citySelect
    width: 20%
    margin-right: 20px
    display inline-block


//*******列表正文区*********
#app >>> #contentListWrapper
  width: 1200px
  padding 0 40px
  margin 0 auto
  background #fff


//******el-table样式覆盖******
#app >>> .el-table
  border-top 1px solid $color
  border-bottom 1px solid $color !important

  //展开行内容

  .el-form-item__label,
  .el-form-item__content
    color #99a9bf
    font-size 12px
    height: 30px
    line-height: 30px

  th
    padding: 0

  .el-table__header
    background red

  .el-table__body-wrapper, #app >>> .el-table__body
    width: 100% !important

  .tableHeader
    background #e6e6e6
    font-size 16px
    height: 40px

  .addBtn
    cursor pointer
    background $color
    color #fff
    text-align center
    font-size 16px
    height 40px

//*****弹出框样式覆盖*****
#app >>> .el-dialog
  width: 450px

  .el-dialog__header
    background $color

    .el-dialog__title, .el-dialog__headerbtn .el-dialog__close
      color #fff

  .el-select
    width: 100%


//*****表单样式覆盖*****
#app >>> .el-form-item__label
  text-align left

//*****输入框,下拉箭头,分页等独立控件样式覆盖
#app >>> .el-select .el-input .el-select__caret,
#app >>> .el-cascader .el-icon-arrow-down,
#app >>> .el-tree-node__expand-icon
  color $color


#app >>> .el-input__inner
  inputNoBorder()

#app >>> .el-textarea__inner
  inputNoBorder()

#app >>> div.el-input-number
  width auto

  .el-input-number__increase,
  .el-input-number__decrease
    background $color
    color #fff

  .el-input__inner
    border 1px solid #dcdfe6
    border-radius 4px

/*分页居右  */
#app >>> .el-pagination
  padding 20px 0 10px

/*表格无内填充  */
#app >>> .el-table td
  padding: 0


#app >>> .basInfo
  display inline-block
  margin 0 50px
  .uploadImg,
  .upImgForm
    display inline-block
    margin 0 10px 0
    vertical-align text-top
#app >>>#editCargoWay
  display inline-block
  margin 0 50px
  vertical-align top

#app >>> .uploadImg
  width: 200px

.dialogWrapper >>> .uploadImg
  width: 200px

//*****上传组件样式******
#app >>> .uploaderWrapper
  line-height unset
  text-align center

  .el-upload.el-upload--text
    padding: 0
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0

  .add
    position: absolute
    left: 0
    top: 0
    background $color
    font-size: 16px
    font-weight: bold
    border none
    color #fff
    width: 100%
    height: 100%
    padding: 0

    span
      vertical-align sub

#app >>> .uploader
  .el-upload
    border: 1px dashed $color;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

  .el-upload:hover
    border-color: #409EFF;

  .avatar
    width: 178px;
    height: 178px;
    display: block;

  .uploader-icon
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;


