inputNoBorder()
  border-top none
  border-left: none
  border-right: none
  border-color #000
  border-radius 0
  height: 30px
  border-width 1px
  outline none
  background-color transparent

inputNoFocusLine()
  border-color inherit
//border 10px solid blue
