inputNoBorder()
  border-top none
  border-left: none
  border-right: none
  border-color #000
  border-radius 0
  border-width 1px
  outline none
  background-color transparent


inputNoFocusLine()
  border-color inherit
//border 10px solid blue
listTitleFont()
  font-size: 20px
  font-weight: bold
  margin 0 20px
  user-select none
  height: 100%
  display inline-block
  line-height: 60px

listStyle()
  width: 1220px
  margin 0 auto


filter()
  position absolute
  top: 150px

filterIcon()
  font-size: 30px
  cursor pointer
  vertical-align sub
